@model ShoppingCartViewModel

<div class="row checkoutForm mt-5">
    <h4>Here are the books in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Book</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.Book.Name</td>
                    <td class="text-right">@line.Book.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Quantity * line.Book.Price).ToString("c"))
                    </td>
                    <td class="text-center"><a  asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-Id="@line.Book.Id"><i class="fas fa-minus-circle" style="color:red"></i></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div>
        <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
        <a class="btn btn-primary" asp-controller="Book" asp-action="Index">Continue Shopping</a>
    </div>
</div>